body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../images/candy-background.jpg'); /* Укажите путь к вашему изображению */
  background-size: cover; /* Масштабирование изображения, чтобы покрыть весь экран */
  background-position: center; /* Центрирование изображения */
  background-repeat: no-repeat; /* Отключение повторения изображения */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#game-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Счётчик очков */
#score-board {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный чёрный фон */
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Убедитесь, что счётчик отображается поверх других элементов */
}

#game-area {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#player {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
}

.falling-item {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: fall 5s linear infinite;
}

.candy {
  background-image: url('../images/coin.png');
  background-size: cover;
  background-position: center;
}

.dynamite {
  background-image: url('../images/bomb.png');
  background-size: cover;
  background-position: center;
}

@keyframes fall {
  from {
    top: -50px;
  }
  to {
    top: 100%;
  }
}

/* Кнопка "Начать игру" */
#start-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(45deg, #2196f3, #1976d2); /* Цвет кнопки "Играть" */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

#start-button:hover {
  background: linear-gradient(45deg, #1976d2, #2196f3); /* Цвет при наведении */
  transform: translate(-50%, -5px); /* Поднимаем кнопку вверх */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Увеличиваем тень */
}

/* Кнопка "Домой" */
#home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: linear-gradient(45deg, #ff5722, #e64a19);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Убедитесь, что кнопка отображается поверх других элементов */
}

#home-button:hover {
  background: linear-gradient(45deg, #e64a19, #ff5722);
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}